/*==========================================
CSS RESET
==========================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==========================================
STYLESHEET START
==========================================*/

header {
  margin: 0;
  background: black;
}

a {
  text-decoration: none;
  color: #3479A8;
}

#img_chop {
  position: fixed;
  margin-top: 5px;
  margin-left: 15px;
  vertical-align: bottom;
  border-radius: 2px;
}

#name {
  display:inline-block;
  margin: 6px 10px 6px 100px; 
  font-size: 25px;
  font-weight: bold;
  font-family: 'Covered By Your Grace', cursive;  
  color: white;
}

.icons {
  float: right;
}

.icons li {
  display: inline-block;
}

.subject {
 font-family: 'Droid Serif', arial;
 font-size: 220%;
 margin-bottom: 20px;
}

section {
  font-family: arial;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.col1,
.col2 {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.col1 {
  color: #919191;
  font-family: 'Arial';
  width: 15%;
  margin-left: 100px;
  vertical-align: top
}

.keywords {
  margin-top: 10px;
}

.keywords li {
  line-height: 20px;
}

.col2 {
  width: 50%;
}

.post {
  margin-top: 10px;
  line-height: 20px;
}

.subsection {
  font-size: 110%;
  font-weight: bold;
  margin-top: 10px;
  line-height: 20px;
}

footer {
  position: relative;
  width: 100%;
  background: black;
  height: 40px;
  bottom: 0;
}

footer ul {
  margin-left: 35%;
}

.icons i {
  color: white;
  width: 37px;
  height: 37px;
  line-height: 37px;
  text-align: center;
}

.icons i:hover {
  color: #A5001B;
  background-color: white;
}